<section>
    <div class="prelude">
        this is the prelude
    </div>
    <div class="headline">
        <div class="maintitle">
            The main title of the group
        </div>
        <div class="subtitle">
            something to say as a subtitle
        </div>
    </div>
</section>

