@using UWMAMPAS.Data.Models
<div class="perfomer-component">
    <div class="row">
        <div class="sample col">
            @performer.Name
        </div>
    </div>
</div>

@code {
    private Performer performer = new Performer("Brad Pitt");
}
